[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
dj-database-url = "==0.5.0"
django-heroku = "==0.3.1"
django-mathfilters = "==0.4.0"
django-publications = {editable = true, ref = "19dd80fef4d1defc6d553eaddab5aa028b0d4f57", git = "https://github.com/rschwiebert/django-publications.git"}
django-ratelimit = "==1.1.0"
django-recaptcha = "==1.3.1"
django-registration-redux = "==1.8"
gunicorn = "==19.7.1"
mpmath = "==1.0.0"
"psycopg2" = "==2.7.3.2"
pytz = "==2017.3"
six = "==1.11.0"
sympy = "==1.1.1"
typing = "==3.6.4"
whitenoise = "==3.3.1"
Django = "==2.2.1"
model_mommy = "==1.6.0"
Pillow = "==5.0.0"

[requires]
python_version = "3.6"
