[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
dj-database-url = "==0.4.2"
django-heroku = "==0.2.0"
django-mathfilters = "==0.4.0"
django-publications = "==0.6.2"
django-ratelimit = "==1.1.0"
django-recaptcha = "==1.3.1"
django-registration-redux = "==1.8"
gunicorn = "==19.7.1"
mpmath = "==1.0.0"
"psycopg2" = "==2.7.3.2"
pytz = "==2017.3"
six = "==1.11.0"
sympy = "==1.1.1"
typing = "==3.6.4"
whitenoise = "==3.3.1"
Django = "==1.11.15"
model_mommy = "==1.4.0"
Pillow = "==5.0.0"

[requires]
python_version = "3.6"
