{% extends 'base.html' %}

{% block title %}Bergman's exchange ring that is not clean{% endblock %}

{% block content %}

<div class="container">
  <div class="col-md-8 content">
    <h1>Bergman's exchange ring that is not clean</h1>
    <p>From what I have read, this all known examples of exchange rings that are not clean
        are based on this one. The description I am giving here is adapted slightly from
        <i>Corner rings of clean rings need not be clean.</i> by Janez S&#774;ter,
        Communications in Algebra, 40:5, (2012) 1595-1604, DOI: 10.1080/00927872.2011.551901 </p>
    <p>S&#774;ter comments that the construction below is actually isomorphic to the opposite
        ring of the ring originally described by Bergman.</p>

    <div class="panel panel-default">
      <div class="panel-body">
      <p>Let $F$ be a field, and let $S=\mathbb{CF}_\mathbb N(F)$ be the ring
        of infinite column-finite matrices over $F$. (This is a full linear ring of
        transformations on an infinite dimensional vector space.) Let $R$ be the following
        subring of $S$:
        $$
        \left\{[a_{i,j}]\in S \middle|\, \exists n_A\in\mathbb N \text{ such that }
        a_{i,j}=a_{i+1, j+1}\,\forall i\geq n_A, j\geq 1\right\}
        $$</p>
      <p>In other words, starting from the top, there can be finitely many arbitrary
      rows, then a row $[a_1, a_2,\ldots]$ followed by $[0, a_1, a_2,\ldots]$
          and then $[0,0,a_1, a_2,\ldots]$ and so on for all the remaining rows.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
