{% extends 'base.html' %}

{% block title %}Bergman's right-not-left primitive ring{% endblock %}

{% block content %}

<div class="container">
  <div class="col-md-8 content">
    <h1>Bergman's right-not-left primitive ring</h1>

    <p>This is the description directly from <i>A Ring Primitive On The Right But Not On The Left</i> by G. M. Bergman,
       published in Proceedings of the American Mathematical Society 15.3 (1964): 473-475.</p>

    <div class="panel panel-default">
      <div class="panel-body">
      <p> Let $\alpha:\mathbb Q(x)\to \mathbb Q(x)$ be the field endomorphism determined by $x\mapsto x^2$, and
          let $A=\mathbb Q(x)[Y;\alpha]$ be the twisted polynomial ring (such that $Yq:=\alpha(q)Y$ for $q\in \mathbb Q(x)$.</p>
      <p> For every odd integer $n$, let $\nu_n$ be the valuation on $\mathbb Q(x)$ induced by the $n$th cyclotomic
          polynomial. Each one can be extended to a valuation on $A$ by defining $\nu_n(\sum d_iY^i)=\min_i \nu_n(d_i)$.</p>
      <p>Let $V$ be an infinite set of valuations of this type with the property that at any
         $q\in \mathbb Q(x)\setminus\{0\}$, only finitely many elements of $V$ are nonzero, and let $B$ be the
         intersection of valuation subrings of $A$ for valuations in $V$. $B$ is a ring which is right primitive
         but not left primitive.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
