{% extends 'base.html' %}
{% load static %}

{% block title %}O'Meara's infinite matrix algebra{% endblock %}

{% block content %}

<div class="container">
  <div class="col-md-8 content">
    <h1>O'Meara's infinite matrix algebra</h1>

      <p>Recently (<i>A new setting for constructing von Neumann regular rings</i> by K. C. O'Meara,
          Communications in Algebra 45.5 (2017): 2186-2194) O'Meara described an algebra that is very
          useful for understanding <a href="{% url 'ring-detail' 81 %}">Bergman's unit regular ring</a>,
          and is very interesting in its own right.</p>

    <div class="panel panel-default">
      <div class="panel-body">
          <p>Let $F$ be a field, and define the following $F$ vector spaces:
              $$ M = \text{ the set of all $\omega\times \omega$ matrices over } F \\
                 U = \text{ the ring of row-finite $\omega\times\omega$ matrices over } F \\
                 V = \text{ the ring of column-finite $\omega\times\omega$ matrices over } F \\
                 N = \text{ the set of all $\omega\times\omega$ matrices with finitely many nonzero entries }
              $$
          O'Meara's algebra is $B=\begin{bmatrix}U&M\\N&V\end{bmatrix}$.
          </p>


      </div>
      <div class="col-md-12 content">
        <p>It is noted (by O'Meara, who attributes it to Bergman) this can be viewed as a ring of functions.
             Let $X$ be the space of countably infinite
             column vectors over $F$, and $Y$ be the subspace of $X$ whose elements only have finitely many
             nonzero entries. Give $X$ the product topology and $Y$ the discrete topology, and let $Z=X\times Y$
             as a topological space. Then $B$ can be identified with the algebra of continuous linear transformations
             of $Z$.
          </p>
          <p>Three features are useful for connecting this with <a href="{% url 'ring-detail' 81 %}">Bergman's unit-regular ring</a>.
            <ul>
                <li>The socle $soc(B)=\begin{bmatrix}soc(U)&soc(U)M+Msoc(V)\\ N&soc(V)\end{bmatrix}$.</li>
                <li>There is a ring
                    homomorphism $\pi:B/soc(B)\to \begin{bmatrix}U&0\\0&V\end{bmatrix}$ projecting onto the diagonal.</li>
                <li>There is a natural copy of the Laurent series $k((t))$ in $B$:
                    $ b_mt^{-m}+\ldots+b_1t^{-1}+\sum_{i=0}^\infty c_it^i$ maps to
                    <img src="{% static 'img/laurentmatrix.svg' %}"></li>
                    The image of the Laurent series in $B$ will be called $K$.

                    {% comment %} Removed this because mathjax timed out while rendering, making it ugly.
                    $$\left[\begin{array}{ccccccc|ccccccc}
                    c_0 & b_1 & b_2 & \cdots & b_m & 0 &\cdots & c_0&c_1&c_2&\cdots&c_n&\cdots\\
                    c_1&c_0&b_1&b_2&\cdots&b_m&\ddots&c_1&c_2&\cdots&c_n&\cdots \\
                    c_2&c_1&c_0&b_1&b_2&\cdots&\ddots&c_2&\cdots&c_n&\cdots \\
                    \vdots&\ddots&\ddots&\ddots&\ddots&\ddots& &\vdots \\
                    c_n&&&&&&&c_n\\
                    \vdots&c_n&&&&&& \vdots \\
                    &&\ddots\\
                    \hline
                    b_0&b_1&b_2&\cdots&b_m&0&\cdots&c_0&c_1&c_2&\cdots&c_n&\cdots\\
                    b_1&b_2&\cdots&b_m&0&&\cdots&b_1&c_0&c_1&c_2&\cdots&c_n&\cdots\\
                    b_2&\cdots&b_m&0&\cdots&&&b_2&b_1&c_0&c_1&c_2&\cdots&\ddots\\
                    \vdots&&&&&&&\vdots&\ddots&\ddots&\ddots&\ddots&\ddots\\
                    b_m&&&&&&&b_m\\
                    0&&&&&&&0&b_m\\
                    \vdots&&&&&&&\vdots&\ddots&\ddots\\
                    \end{array}\right]$${% endcomment %}
            </ul>
          </p>
          <p>O'Meara shows that $\pi(K)+soc(B)$ is isomorphic to
          <a href="{% url 'ring-detail' 81 %}">Bergman's unit-regular ring</a> $R_{81}$, and the subring
            $\pi(K)\oplus \begin{bmatrix}soc(U)&0\\0&soc(V)\end{bmatrix}$ is isomorphic to
          <a href="{% url 'ring-detail' 82 %}">Bergman's non-unit-regular subring</a> $R_{82}$.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
