<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>DaRT - {% block title %}Database of Ring Theory{% endblock %}</title>
        <meta name="google-site-verification" content="pu9Z0hUTJz2dQW9bBTzX1KIiqXrlxF8XvJbVJJLPKHE" />
    </head>

    <body>
        <header><p><a href="{% url 'index' %}">Home</a> | <a href="{% url 'about' %}">About</a> |
            <a href="{% url 'about' %}#Contact">Contact</a> | {% if not request.user.is_authenticated %}<a href="{% url 'login' %}">Login</a>{% else %}<a href="{% url 'logout' %}">Logout</a>{% endif %}</p>
            <name="top"/>
        </header>
        <hr />
        <div>
            {% block body_block %}{% endblock %}
        </div>
        <hr />
        <footer>
          <p>© Ryan C. Schwiebert 2014-2016 | <a href="#top">Top</a> | Site map</p>
        </footer>
    </body>
</html>
