{% extends 'base.html' %}

{% block title %}Bergman's right-not-left primitive ring{% endblock %}

{% block content %}

<div class="container">
  <div class="col-md-8 content">
    <h1>Bergman's unit regular ring with a non unit-regular subring</h1>

    <p>This is the description directly from <i>A Ring Primitive On The Right But Not On The Left</i> by G. M. Bergman,
       published in Proceedings of the American Mathematical Society 15.3 (1964): 473-475.</p>

    <div class="panel panel-default">
      <div class="panel-body">
      <h3>Construction 1:</h3>
      <p>See <a href="/expanded-details/omearas-matrix-algebra/">O'Meara's construction of $R_{81}$ and $R_{82}$</a> at the end of the description of $R_{80}$.</p>
      <h3>Construction 2:</h3>
      <p>Nielsen and S&#774;ter construct it with infinite matrices in Section 2 of <i>Connections between
          unit-regularity, regularity, cleanness, and strong cleanness of elements and rings</i>,
          but they also note their construction is isomorphic to the opposite ring of Bergman's
          original construction.</p>
      <h3>Construction 3:</h3>
      <p>Following Goodearl: let $F$ be a field, $T=F[[t]]$ and $K=F((t))$. Let $V$ be the subspace of $K$ generated
          by the negative powers of $t$. Then $K=V\oplus T$. Let $p$ denote the projection in $End(K_F)$
          projecting onto $V$ in this decomposition.</p>
      <p> Set $R_1=\{x\in End(K_F)\mid x(V)\subseteq V, x(T)\subseteq T\}$. Set
          $R_2=\{x\in End(K_F)\mid \exists a\in K,n\in\mathbb N^+ \text{ such that }
          (x-a)(t^nT)=0\text{ and } (x-a)K\subseteq t^{-n}T\}$. $R=R_1\cap R_2$.</p>
      <p>For each $a\in R$,
          we can define $\psi(x)=a$ where $(x-a)(t^nT)=0\text{ and } (x-a)K\subseteq t^{-n}T$ from
          $R\to End(K_F)$. Define $J=\{x\in End(K_F)\mid \psi(x)=0 \text{ and } dim(xK)<\infty\}$.
          It turns out that the image of $\phi$ restricted to $R$ is exactly $R_{70}.</p>
      <p> $Q = R + J$ is a subring of $R_2$, and $Q$ is $R_{81}$ and $R$ is $R_{82}$.</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
