{% extends 'ringapp/base.html' %}

{% block title %}Ring properties{% endblock %}

{% block body_block %}

<h1>Ring properties</h1>

Here is a list of all properties tracked for the ring database.<br>
<br>
(More properties specific to commutative rings appear in the <a href="{% url 'commproperty-list' %}">commutative ring property page.)</a>

{% if prop_list %}
    <ul>
    {% for item in prop_list %}
        <li><a href="{% url 'property-detail' item.property_id %}">{{ item.name }}</a>  </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No properties were retrieved.</p>
{% endif %}

{% endblock %}
