{% extends 'ringapp/base.html' %}

{% block title %}Commutative ring search results{% endblock %}

{% block body_block %}

<h1>Commutative ring search results</h1>

You searched for commmutative rings
{% if has_string %}
which ARE<br>
{{ has_string }},<br>
{% endif %}
{% if lacks_string %}
which ARE NOT<br>
{{ lacks_string }}
{% endif %}
<br><br>

{% if main_results %}
{% if scope == 'n' %}
These commutative rings are known to satisfy all of your criteria:
{% else %}
These rings are consistent with your criteria, but may not satisfy your criteria when more data is supplied.
{% endif %}
<br>
<h2>Search results</h2>

    <ul>
    {% for item in main_results %}
        <li><a href="{% url 'commring-detail' item.ring_id %}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>The search turned up no rings.</p>
{% endif %}

{% endblock %}
