{% extends 'base.html' %}

{% block title %}Commutative ring properties{% endblock %}

{% block content %}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>Commutative ring properties</h1>
      <p>Here is a list of properties for commutative rings.</p>
      <p>(Switch to the <a href="{% url 'property-list' %}">general ring properties index</a>.)</p>
    </div>

    <div class="list-group">
       {% if object_list %}
	    {% for item in object_list %}
		<a class="list-group-item" href="{% url 'commproperty-detail' item.property_id %}">{{ item.name }}</a>
	    {% endfor %}
	{% else %}
	    <li class="list-group-item">(No properties were retrieved.)</li>
	{% endif %}
    </div>
  </div>
</div>
{% endblock %}
