{% extends 'ringapp/base.html' %}
{% load mathfilters %}

{% block title %}Commutative rings{% endblock %}

{% block body_block %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>Commutative rings</h1></div>
      <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>% Complete</th>
        </tr>
      </thead>
      <tbody>
      {% if object_list %}
        {% for item in object_list %}
        <tr>
        <td><a href="{% url 'commring-detail' item.ring_id %}" >
            <div style="height:100%;width:100%">{{ item.name }}</div></a></td>
        <td><div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ item.num_known | mul:'100' }}%;">{{ item.num_known | mul:'100' }}%</div>
            </div></td>
        </tr>
        {% endfor %}

      {% else %}
        <tr><td>(No rings were retrieved.)</td></tr>
      {% endif %}
      </tbody>
      </table>
    </div>
  </div>
{% endblock %}
