{% extends 'ringapp/base.html' %}

{% block title %}Search commutative rings{% endblock %}

{% block body_block %}

<div class="container">
    <div class="col-md-4 content">
	<h1>Search for commutative rings</h1>

	<p>The compiled data is, naturally, incomplete. The status of a property for a given ring can be in three states:
	"has property," "doesn't have the property," and "unknown."</p>
        <p>Choosing <b>narrow</b> scope ensures that the results are known to match all inputs. Choosing <b>wide</b> scope excludes all rings that do not fit all inputs.</p>
	<p>So, there may be rings in wide scope results that aren't in narrow scope results, simply because the properties in question may have "unknown" status.</p>
<p><u>Note:</u> the commutative ring search is performed against a different set of properties than the general ring search.
   Some properties are not defined for general rings, some have been altered ("right Artinian" has become just "Artinian"), and some are completely absent.</p>
    </div>
    <div class="col-md-8 content">
        <h2>Search form</h2>
	<form action="commresults/" method="get">
	    {{ form.non_field_errors }}
          <div class="col-md-4 content">
	    <h3>The ring</h3>
	    <div class="fieldWrapper">
		{{ form.has1.errors }}
		<label for="has1">is:</label>
		{{ form.has1 }}
	    </div>
	    <div class="fieldWrapper">
		{{ form.has2.errors }}
		<label for="has2">is:</label>
		{{ form.has2 }}
	    </div>
	    <div class="fieldWrapper">
		{{ form.has3.errors }}
		<label for="has3">is:</label>
		{{ form.has3 }}
	    </div>
          </div>
          <div class="col-md-4 content">
	    <h3>The ring</h3>
	    <div class="fieldWrapper">
		{{ form.lacks1.errors }}
		<label for="lacks1">is not:</label>
		{{ form.lacks1 }}
	    </div>
	    <div class="fieldWrapper">
		{{ form.lacks2.errors }}
		<label for="lacks2">is not:</label>
		{{ form.lacks2 }}
	    </div>
	    <div class="fieldWrapper">
		{{ form.lacks3.errors }}
		<label for="lacks3">is not:</label>
		{{ form.lacks3 }}
	    </div>
            <div class="fieldWrapper">
		{{ form.scope.errors }}
		<label for="scope">Scope:</label>
		{{ form.scope }}
	    </div>
            <p><input class="btn btn-primary" type="submit" value="Search" /></p>
          </div>
	    
	</form>
   </div>
</div>
{% endblock %}
