{% extends 'base.html' %}

{% block title %}Search commutative rings{% endblock %}

{% block content %}

<div class="container">
	<h1>Search for commutative rings</h1>

    <div class="col-md-8 content">
		<form action="" method="post">
			{% csrf_token %}
			<div class="panel panel-default">
				<div class="panel-heading">Properties</div>
				<div class="panel-body">
					{{ comm_formset.management_form }}
					<div id="comm_form_set">
						{% for form in comm_formset %}
						<div class="form-group">
							<table>
							{{ form.non_field_errors }}
							{{ form.as_table }}
							</table>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="panel-footer"><input class="btn btn-default" type="button" value="Add More" id="add_more_comm"></div>
				<div id="empty_comm_form" style="display:none" class="form-group">
					<table class='no_error'>
						{{ comm_formset.empty_form.non_field_errors }}
						{{ comm_formset.empty_form.as_table }}
					</table>
				</div>
				<script>
					$('#add_more_comm').click(function() {
						var form_idx = $('#id_comm-TOTAL_FORMS').val();
						$('#comm_form_set').append($('#empty_comm_form').html().replace(/__prefix__/g, form_idx));
						$('#id_comm-TOTAL_FORMS').val(parseInt(form_idx) + 1);
					});
				</script>
			</div>
			<input class="btn btn-primary" type="submit" value="Search" />

		</form>
	</div>
</div>
{% endblock %}
