{% extends 'base.html' %}

{% block title %}Commutative ring search results{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-12 content">
	<h1>Commutative ring search results</h1>

	<p>You searched for commmutative rings
	{% if has_string %}
	which ARE {{ has_string }}
	{% endif %}
	{% if lacks_string %}
	which ARE NOT {{ lacks_string }}
	{% endif %}.</p>
    </div>
    <div class="col-md-4 content">
      <h2>Results</h2>
      <p><i>Satisfy all parameters</i></p>
      {% if main_results %}
      <ul>
      {% for item in main_results %}
        <li><a href="{% url 'commring-detail' item.ring_id %}">{{ item.name }}</a></li>
      {% endfor %}
      </ul>
      {% else %}
          <p>(No results.)</p>
      {% endif %}        

      <p><i>Consistent with parameters, but may not be real hits</i></p>
      {% if weak_results %}
      <ul>
        {% for item in weak_results %}
        <li><a href="{% url 'commring-detail' item.ring_id %}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      <p>(No results.)</p>
      {% endif %} 
    </div>
</div>
{% endblock %}
