{% extends 'base.html' %}

{% block title %}Contribute{% endblock %}

{% block content %}
{% if messages %}

<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}

<div class="container"> 
    <h1>Contribute</h1>
    <p>To contribute, you will either need to register here on this site, or else have a GitHub account.</p>

    <p>For bug reports, feature requests, or problems with <b>the website itself</b>, use the
        <a href="https://github.com/rschwiebert/RingApp/issues">RingApp GitHub issue tracker</a>.</p>
    <p>For suggestions or corrections to <b>the database content</b>, use the
        <a href="https://github.com/rschwiebert/dart_data/issues">dart_data GitHub issue tracker</a>.</p>
    <p>If for some reason GitHub is not for you, you can always use the form below to make any suggestion.</p>

    <p>After getting feedback at your issue, you may wish to start developing your pull request.
        <a href="https://gist.github.com/MarcDiethelm/7303312">Here is a brief guide for how to do
            that for a GitHub project.</a>  Doing this just makes it quicker for your change to get reviewed
    and adopted, since an admin will not have to do it for you.</p>


   <div class="row">
     <div class="col-md-12 content">
	<h2>Reminders</h2><br>
	<br>
	To help maintain the quality of content and integrity of the database, please keep these points in mind:
	<ul>
        <li> We might not accept every suggestion.</li>
	<li> Did you check the database to see if your ring example or property is already there? (Accidents will happen and we can deal with it, but it's best to avoid that altogether.)
	</li>
	<li> It is really important to have good citations! (Incorrect proofs and claims exist, unfortunately.)</li>
	<li> Multiple high-quality citations are helpful. (Readers will have more places to look.)</li>
        </ul>
     </div>
    </div>
    <div class="row">
      <div class="col-md-6 content">
	<h2>Make a quick suggestion</h2>

        {% if user.is_authenticated %}
	<form action="" method="post">{% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Submit suggestion" />
	</form>
        {% else %}
        <p>(You need to <a href="{% url 'auth_login' %}?next=/contribute/">log in</a> to contribute suggestions.)</p>
        {% endif %}

	</div>
        <div class="col-md-6 content">
		<h2>Need inspiration?</h2>

            <p><a href="{% url 'inspiration' %}">Here is a list outlining several gaps
                that remain to be filled.</a></p>
        <h2>Relevant open questions</h2>
            <ol>
                <li>It is unknown whether or not a right PCI ring is left PCI.</li>
                <li>It is unknown whether or not a right QI ring is left QI.</li>
                <li>It is unknown whether or not a right quasi-duo ring is left quasi-duo.</li>
            </ol>
        </div>
      </div>
</div>
{% endblock %}
