Welcome to the Database of Ring Theory! (DaRT)<br>
<br>
Ring example database:<br>
(This database focuses on rings that are not necessarily commutative and some properties they can have.)

<li><a href="rings">Browse all rings</a></li>
<li><a href="properties">Browse all ring properties</a></li>
<li><a href="search">Search rings</a></li>
<li><a href="logics">View the implications used in the database.</a></li>
<br>
Commutative ring example database:<br>
(This database exclusively carries commutative rings and has more specific properties compiled than the property list for all rings.)

<li><a href="commrings">Browse the list of commutative rings</a></li>
<li><a href="commproperties">Browse the list of commutative ring properties</a></li>
<li><a href="commsearch">Search commutative rings</a></li>
<li><a href="commlogics">View the implications used in the commutative ring database.</a></li>


Get involved:<br>
<li><a href="contribute">Contribute items or citations to the database.</a> (Don't worry, if you can't think of a ring or citation to contribute, you can get a random recommendation.)</li>
<li>Help us on <a href="https://github.com/rschwiebert/RingApp">GitHub</a></li>

<br>
Learn about ring theory:<br>
<li><a href="theorems">See theorems of ring theory</a></li>
<li><a href="people">Personalities in ring theory history</a></li>
<li><a href="resources">Study material</a></li>

<br>
Other stuff:

<li>FAQ</li>
<li><a href="about">Contact</a></li>
<li><a href="about">About</a></li>

