{% extends 'ringapp/base.html' %}

{% block title %}Home{% endblock %}

{% block body_block %}

<div>
	<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 align='center'>Welcome to the Database of Ring Theory!</h1>
            <p align='center'>A repository of rings, their properties,
                and more ring theory stuff.</p>
            <p align='center'><a class="btn btn-primary btn-lg"
                                 href="about" role="button">
                Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="container">
        <div class="col-md-4 content">
        <h2>Browse</h2>
        <p>See a list of rings on record.</p>
        <p><a class="btn btn-default" href="{% url 'ring-list' %}" role="button">
            All rings &raquo;</a><a class="btn btn-default"
                                    href="{% url 'commring-list' %}" role="button">
            Commutative rings &raquo;</a></p>
        <h2>Search</h2>
        <p>You can search for rings by their properties. If you are only
            interested in commutative rings, try the specialized search with
            expanded, commutative-only properties. </p>
        <p><a class="btn btn-default" href="{% url 'search' %}" role="button">
            All rings &raquo;</a><a class="btn btn-default"
                                    href="{% url 'csearch' %}" role="button">
            Commutative rings &raquo;</a></p>
        </div>
        <div class="col-md-4 content">
            <h2>Contribute</h2>
            <p>There are a lot of ways you could help, even if you don't
                know what specifically what yet.</p>
            <p> <a class="btn btn-default" href="contribute"
                   role="button">Contribute content &raquo;</a><a
                    class="btn btn-default"
                    href="https://github.com/rschwiebert/RingApp"
                    role="button">I do GitHub &raquo;</a></p>
        </div>
        <div class="col-md-4 content">
            <h2>Learn</h2>
            <p>View a list of resources for studying ring theory.</p>
            <p><a class="btn btn-default" href="resources"
                  role="button">Start learning &raquo;</a></p>
            <h3>Other helpful sites</h3>
            <p>If you like this site, then you also might like these sites:</p>
            <ul>
            <li><a href="http://topology.jdabbs.com/">π-Base</a>:
                A community database of topological examples with
                automated deduction and powerful search</li>
            <li><a href="http://mathcounterexamples.net/">Math Counterexamples</a>:
                Mathematical exceptions to the rules or intuition. (Here you can find 
                counterexamples from a variety of mathematical disciplines.)</li>

            <li><a href="http://www.grdb.co.uk/">Graded Ring Database</a>:
                A database of graded rings in algebraic geometry</li>
            <li><a href="https://www.facebook.com/ring.theory.and.its.applications">The Center of Ring Theory and its Applications</a> at Ohio University</li>
            <li><a href="http://stacks.math.columbia.edu/">
                The Stacks Project</a>: an open source textbook and reference work on
                algebraic stacks and the algebraic geometry needed to define them</li>
            <li><a href="http://ncatlab.org/nlab/show/HomePage">nLab</a>:
                a wiki-lab for collaborative work on Mathematics,
                Physics and Philosophy </li>
            </ul>
        </div>
    </div>
</div>
        

{% endblock %}

