{% extends 'base.html' %}

{% block title %}Property detail{% endblock %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
	<div class="panel-heading"><h1>Keyword: {{ object.name }}</h1></div>
	<div class="panel-body">
			<p>Description: {{ object.description }}</p>
			<a class="btn btn-default" role="button" href="{% url 'kresults' %}?kwd={{ object.id }}">
				   <span class="glyphicon glyphicon-search"></span>  Rings with this keyword</a>

	</div>
  </div>
</div>

{% endblock %}
