{% extends 'ringapp/base.html' %}

{% block title %}Ring implications{% endblock %}

{% block body_block %}

<h1>Ring implications</h1>

This is a listing of the implications used by the database.
<br><br>
<a href="{% url 'commlogic-list' %}">Switch to list of commutative ring implications</a>

<br><br>

{% if object_list %}
    <ul>
    {% for item in object_list %}
     <li><a href="{% url 'logic-detail' item.id %}/">{{ item.readable }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No implications were retrieved.</p>
{% endif %}

{% endblock %}
