<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{#% SITE_NAME %#} </a>
    </div>
        <div id="navbar" class="collapse navbar-collapse">

            {% if user.is_authenticated  %}

            {% else %}
            <ul class="nav navbar-nav pull-right">
                <li class="">
                    <a href="">Features</a>
                </li>
                <li class="">
                    <a href="">Support</a>
                </li>
                <li class="">
                    <a href="">Contact</a>
                </li>
            </ul>
            {% endif %}

        </div><!--/.nav-collapse -->
  </div>
</nav>

