{% extends 'ringapp/base.html' %}

{% block title %}Profile page{% endblock %}

{% block body_block %}

<div class="container">
	<h1>{{ request.user.username }}'s user profile</h1>
    <div class="md-col-12 content">
	<h2>My suggestions</h2>
        {% if suggestions %}
        <ul>
	{% for suggestion in suggestions %}
	<li>{{ suggestion.get_status_display|upper }} ({{ suggestion.get_object_type_display }}) {{ suggestion.name }} {{ suggestion.description }}</li>
            {% if suggestion.response %}
            <ul><li>{{ suggestion.response }}</li></ul>
            {% endif %}
	{% endfor %}
        </ul>
        {% else %}
        <p>(No suggestions yet)</p>
        {% endif %}
    </div>
</div>
{% endblock %}
