{% extends 'base.html' %}

{% block title %}Ring properties{% endblock %}

{% block content %}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>Ring properties</h1>
      <p>This is the comprehensive list of ring types used at present.</p>
    </div>
    <div class="list-group">
	{% if object_list %}
	    {% for item in object_list %}
		<a class="list-group-item" href="{% url 'property-detail' item.id %}">{{ item.name }}</a>
	    {% endfor %}
	{% else %}
	    <li class="list-group-item">(No properties were retrieved.)</li>
	{% endif %}
    </div>
  </div>
</div>
{% endblock %}
