{% extends 'base.html' %}
{% load queryargs %}

{% block title %}Ring Property {{ object.id }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 content">
            <div class="panel panel-default">
              <div class="panel-heading"><h1>Property: {% if not object.symmetric %}(right/left){% endif %} {{ object.name }}</h1></div>
              <div class="panel-body">
                {% if object %}
                    {% if not object.symmetric %}
                        <p>Definition: (right {{ object.name }}) {{ object.definition }}</p>
                    {% else %}
                        <p>Definition: {{ object.definition }}</p>
                    {% endif %}
              </div>
            </div>
        </div>
        <div class="col-md-6 content">
            <h3>Reference(s):</h3>
        {% if object.citation.all %}

            <ul>
                {% for citation in object.citation.all %}
                <li>{{ citation }}</li>
                {% endfor%}
            </ul>
        {% else %}
                <p>(No citations retrieved.)</p>
        {% endif %}
            <h3>Metaproperties:</h3>

        {% if metaproperties %}
            {% if has_mp %}
            This property has the following metaproperties
            <ul>
            {% for item in has_mp %}
            <li>{{ item.metaproperty.name }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            {% if lacks_mp %}
          This property <b>does not</b> have the following metaproperties
            <ul>
            {% for item in lacks_mp %}
            <li>{{ item.metaproperty.name }}
            {% if item.relation is not None %}
                (Counterexample: <a href="{% url 'ring-detail' item.relation.first_id %}">$R_{ {{ item.relation.first_id }} }$</a> {{ item.relation.get_relation_type_display }} <a href="{% url 'ring-detail' item.relation.second_id %}">$R_{ {{item.relation.second_id}} }$</a>)
            {% elif item.example is not None %}
                (Counterexample: <a href="{% url 'ring-detail' item.example.id %}">$R_{ {{ item.example.id }} }$</a>)
            {% else %}
                (counterexample needed)
            {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% else %}
            <p>(No metaproperty information retrieved.)</p>
        {% endif %}
        </div>
    </div>
    {% endif %}
    
    <!--ring list -->
    <div class="row">
        {% if ring_join %}
        <div class="col-md-6 content">
            <div class="panel panel-default">
                <div class="panel-heading">Rings</div>
                <table class="table table-bordered">
                    <tr>
                    {% if asymmsort == 'l' %}
                        {% if object.symmetric %}
                            <th></th>
                            <th>Name <a href="{% url 'property-detail' object.id %}?{{ request|update_asymmfilter:'n' }}"><i class="glyphicon glyphicon-triangle-bottom"></i></a></th>
                        {% else %}
                            <th>left</th>
                            <th>Name <a href="{% url 'property-detail' object.id %}?{{ request|update_asymmfilter:'n' }}"><i class="glyphicon glyphicon-triangle-bottom"></i></a></th>
                            <th>right <a href="{% url 'property-detail' object.id %}?{{ request|update_asymmfilter:'r' }}"><i class="glyphicon glyphicon-triangle-bottom"></i></a></th>
                        {% endif %}
                    {% elif asymmsort == 'r' %}
                        {% if object.symmetric %}
                            <th></th>
                            <th>Name <a href="{% url 'property-detail' object.id %}?{{ request|update_asymmfilter:'n' }}"><i class="glyphicon glyphicon-triangle-bottom"></i></a></th>
                        {% else %}
                            <th>left <a href="{% url 'property-detail' object.id %}?{{ request|update_asymmfilter:'l' }}"><i class="glyphicon glyphicon-triangle-bottom"></i></a></th>
                            <th>Name <a href="{% url 'property-detail' object.id %}?{{ request|update_asymmfilter:'n' }}"><i class="glyphicon glyphicon-triangle-bottom"></i></a></th>
                            <th>right</th>
                        {% endif %}
                    {% else %}
                        {% if object.symmetric %}
                            <th><a href="{% url 'property-detail' object.id %}?{{ request|update_asymmfilter:'l' }}"><i class="glyphicon glyphicon-triangle-bottom"></i></a></th>
                            <th>Name</th>
                        {% else %}
                            <th>left <a href="{% url 'property-detail' object.id %}?{{ request|update_asymmfilter:'l' }}"><i class="glyphicon glyphicon-triangle-bottom"></i></a></th>
                            <th>Name</th>
                            <th>right <a href="{% url 'property-detail' object.id %}?{{ request|update_asymmfilter:'r' }}"><i class="glyphicon glyphicon-triangle-bottom"></i></a></th>
                        {% endif %}
                    {% endif %}
                    </tr>
                    {% for item in ring_join %}
                    <tr>
                    {% if item.1 == True %}
                    <td><i class="glyphicon glyphicon-ok"></i></td>
                    {% elif item.1 == False %}
                    <td><i class="glyphicon glyphicon-remove"></i></td>
                    {% elif item.1 == None %}
                    <td><i class="glyphicon glyphicon-question-sign"></i></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td><a class="list-group-item" href="{% url 'ring-detail' item.0.id %}">
                        {{ item.0.name }}</a></td>
                    {% if not object.symmetric %}
                        {% if item.2 == True %}
                        <td><i class="glyphicon glyphicon-ok"></i></td>
                        {% elif item.2 == False %}
                        <td><i class="glyphicon glyphicon-remove"></i></td>
                        {% elif item.2 == None %}
                        <td><i class="glyphicon glyphicon-question-sign"></i></td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    {% endif %}

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% else %}
        <p>Nothing was retrieved.</p>
        {% endif %}

        <div class="col-md-4 content">
            <div class="panel panel-default">
                <div class="panel-heading">Legend</div>
                <ul class="list-group">
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> = has the property</li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-remove"></i> = does not have the
                    property
                    </li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-question-sign"></i> = information
                    not in database
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
