{% extends 'base.html' %}
{% load mathfilters %}

{% block title %}Ring properties{% endblock %}

{% block content %}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>Ring properties</h1>
      <p>This is the comprehensive list of ring properties in the database.</p></div>
      <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Definition</th>
          <th>% Complete</th>
        </tr>
      </thead>
      <tbody>
      {% if object_list %}
        {% for item in object_list %}
        <tr>
        <td><a href="{% url 'property-detail' item.id %}" >
            <div style="height:100%;width:100%">{{ item.name }}</div></a></td>
        <td><div class="col-md-6">{{ item.definition }}</div></td>
        <td><div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ item.num_known | mul:'100' }}%;">{{ item.num_known|mul:'100'|floatformat }}%</div>
            </div></td>
        </tr>
        {% endfor %}
      {% else %}
        <p class="list-group-item">(No properties were retrieved.)</p>
      {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
