{% extends 'base.html' %}

{% block title %}Ring properties{% endblock %}

{% block content %}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>Ring properties</h1>
      <p>Here is a list of properties any ring can have.</p>
      <p>(Switch to the <a href="{% url 'commproperty-list' %}">commutative ring property index</a> for additional properties defined for commutative rings.)</p>
    </div>
    <div class="list-group">
	{% if object_list %}
	    {% for item in object_list %}
		<a class="list-group-item" href="{% url 'property-detail' item.property_id %}">{{ item.name }}</a>
	    {% endfor %}
	{% else %}
	    <li class="list-group-item">(No properties were retrieved.)</li>
	{% endif %}
    </div>
  </div>
</div>
{% endblock %}
