<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="google-site-verification" content="pu9Z0hUTJz2dQW9bBTzX1KIiqXrlxF8XvJbVJJLPKHE" />
		<meta name="description" content="">
		<meta name="author" content="Ryan C. Schwiebert">
		
		<title>DaRT - Home</title>
		<link rel="icon" href="../../favicon.ico">
		
		<!-- Bootstrap core CSS -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">

		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="/static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/static/jumbotron.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

    <body>
	    <nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">Database of Ring Theory</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
			  <form class="navbar-form navbar-right">
				<div class="form-group">
				  <input type="text" placeholder="Email" class="form-control">
				</div>
				<div class="form-group">
				  <input type="password" placeholder="Password" class="form-control">
				</div>
				<button type="submit" class="btn btn-success">Sign in</button>
			  </form>
			</div><!--/.navbar-collapse -->
		  </div>
		</nav>
	
	
	
        <header><p><a href="/">Home</a> | <a href="/about/">About</a> |
            <a href="/about/#Contact">Contact</a> | <a href="/login/">Login</a></p>
            <name="top"/>
        </header>
        <hr />
        <div>
            
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
		  <div class="container">
			<h1 align='center'>Welcome to the Database of Ring Theory!</h1>
			<p align='center'>A repository of rings, their properties, and more ring theory stuff.</p>
			<p align='center'><a class="btn btn-primary btn-lg" href="about#mission" role="button">Learn more &raquo;</a></p>
		  </div>
		</div>
		<div class="container">
		  <div class="row">
			<div class="col-md-4">
			  <h2>Search</h2>
			  <p>You can search for rings by their properties. If you are only interested in commutative rings, try the specialized search with expanded, commutative-only properties. </p>
			  <p><a class="btn btn-default" href="search" role="button">All rings &raquo;</a><a class="btn btn-default" href="commsearch" role="button">Commutative rings &raquo;</a></p>
			</div>
			<div class="col-md-4">
			  <h2>Browse</h2>
			  <p>Explore what we've got:</p>
			  <p><a class="btn btn-default" href="rings" role="button">All rings &raquo;</a><a class="btn btn-default" href="properties" role="button">All properties &raquo;</a></p>
			  <p><a class="btn btn-default" href="commrings" role="button">Commutative rings &raquo;</a><a class="btn btn-default" href="commproperties" role="button">Commutative ring properties &raquo;</a></p>
			  <p><a class="btn btn-default" href="theorems" role="button">Theorems &raquo;</a><a class="btn btn-default" href="bibliography" role="button">Cited works &raquo;</a></p>
			</div>
		  </div>
		</div>
		<div class="container">
		  <div class="row">
			<div class="col-md-4">
			  <h2>Contributing</h2>
			  <p>There are a lot of ways you could help, even if you don't know what specifically what yet.</p>
			  <p> <a class="btn btn-default" href="contribute" role="button">Contribute content &raquo;</a><a class="btn btn-default" href="https://github.com/rschwiebert/RingApp" role="button">I do GitHub &raquo;</a></p>
			</div>
			<div class="col-md-4">
			  <h2>Learn</h2>
			  <p>View a list of resources for studying ring theory.</p>
			  <p><a class="btn btn-default" href="resources" role="button">Start learning &raquo;</a><a class="btn btn-default" href="properties" role="button">All properties &raquo;</a></p>
		    </div>
			
		  </div>
		</div>
        <div class="container">
		  <div class="row">
			<div class="col-md-4">
			  <h2>Other helpful sites</h2>
			    <p>If you like this site, then you also might like these sites:</p>
				<ul>
					<li><a href="http://topology.jdabbs.com/">π-Base</a>: A community database of topological examples with
						automated deduction and powerful search</li>
					<li><a href="http://grdb.lboro.ac.uk/">Graded Ring Database</a>: A database of graded rings in algebraic geometry</li>
					<li><a href="https://www.facebook.com/ring.theory.and.its.applications">The Center of Ring Theory and its
						Applications</a> at Ohio University</li>
					<li><a href="http://stacks.math.columbia.edu/">The Stacks Project</a>: an open source textbook and reference work on
						algebraic stacks and the algebraic geometry needed to define them</li>
					<li><a href="http://ncatlab.org/nlab/show/HomePage">nLab</a>: a wiki-lab for collaborative work on Mathematics,
						Physics and Philosophy </li>
				</ul>
			  </div>
		  </div>
		</div>




        </div>
        <hr />
        <footer>
          <p>&copy;  Ryan C. Schwiebert 2014-2016 | <a href="#top">Top</a> | Site map</p>
        </footer>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/static/assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="/static/js/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>
	 
    </body>
</html>
