{% extends 'base.html' %}

{% block title %}Search rings{% endblock %}

{% block content %}

<div class="container">
    <div class="col-md-4 content">
	<h1>Search for rings</h1>
    </div>
    <div class="col-md-8 content">
	<form action="results/" method="get">
	    {{ form.non_field_errors }}
          <div class="col-md-4 content">
	    <h3>The ring is</h3>
	    <div class="fieldWrapper">
		{{ form.has.errors }}
		<label for="has"></label>
		{{ form.has }}
	    </div>
	    <p><i>Multiple selections can be made in both columns.<br />(CTRL-click on desktops.)</i></p>            
          </div>
          <div class="col-md-4 content">
	    <h3>The ring is not</h3>
	    <div class="fieldWrapper">
		{{ form.lacks.errors }}
		<label for="lacks"></label>
		{{ form.lacks }}
	    </div>
            <p><input class="btn btn-primary" type="submit" value="Search" /></p>
          </div>
	    
	</form>
   </div>
</div>
{% endblock %}
