{% extends 'base.html' %}

{% block title %}Suggestions{% endblock %}

{% block content %}

<h1>Suggestions</h1>

{% if option == "ring" %}
<h2>Suggest a ring we should add</h2>
(Sorry, still working on the submission form.)

{% elif option == "theorem" %}
<h2>Suggest a theorem we should add</h2>
(form for collecting property.)
(Sorry, still working on the submission form.)

{% elif option == "citation" %}
<h2>Suggest a citation</h2>
(form for collecting citations.)
(Sorry, still working on the submission form.)

{% elif option == "randring" %}
The database says we could fill these gaps:
<li>{{ ring_sugg }}</li>
<li>{{ cring_sugg }}</li>
<br>
(There may be some latency between when these gaps get filled and these suggestions are made!)

{% elif option == "randcite" %}
Get a randomly generated citation that needs improvement.

{% elif option == "property" %}
<h2>Suggest a new property</h2>
(form for collecting property.)
(Sorry, still working on the submission form.)

{% else %}
Something is wrong.

{% endif %}


{% endblock %}