<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Suggestions</title>
</head>
<body>

{% if option == "ring" %}
SUGGEST A RING:<br>
(Sorry, still working on the submission form.)

{% elif option == "theorem" %}
SUGGEST A THEOREM:<br>
(form for collecting property.)
(Sorry, still working on the submission form.)

{% elif option == "citation" %}
SUGGEST A CITATION:<br>
(form for collecting citations.)
(Sorry, still working on the submission form.)

{% elif option == "randring" %}
The database says we could fill these gaps:
<li>{{ ring_sugg }}</li>
<li>{{ cring_sugg }}</li>
<br>
(There may be some latency between when these gaps get filled and these suggestions are made!)

{% elif option == "randcite" %}
Get a randomly generated citation that needs improvement.

{% elif option == "property" %}
SUGGEST A PROPERTY:<br>
(form for collecting property.)
(Sorry, still working on the submission form.)

{% else %}
Something is wrong.

{% endif %}







</body>
</html>