{% extends 'ringapp/base.html' %}

{% block title %}Theorem detail{% endblock %}

{% block body_block %}

<h1>Theorem detail</h1>
{% if object %}
    <ul>
        <li>Alias: {{ object.alias }}</li>
        <li>Statement: {{ object.statement }}</li>
        <li>Reference(s):
            {% if ref_list %}
            <ul>
            {% for ref in ref_list %}
            <li>{{ ref.title }}</li>
            {% endfor %}

            {% else %}
            <li>(Citation needed)</li>
            {% endif %}
            </ul>
        </li>
        <li>Link: <a href="{{ object.link }}">{{ object.link }}</a></li>
    </ul>

    
{% else %}
    <p>Nothing was retrieved.</p>
{% endif %}

{% endblock %}
