{% extends 'base.html' %}

{% block title %}Theorems{% endblock %}

{% block content %}
<div class="container">
    <h1>Theorems in ring theory</h1>

    <div class="row">
        <div class="col-md-3 content">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Categories</h2></div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ request.path }}">All theorems</a></li>
                    {% for category in category_list %}
                    <li class="list-group-item">
                        <a href="{{ request.path }}?category={{ category.id }}">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9 content">
            <div class="panel panel-default">
                {% if selected_cat %}
                <div class="panel-heading"><h2>{{ selected_cat.name }}</h2>
                <h3>{{ selected_cat.description }}</h3></div>
                {% else %}
                <div class="panel-heading"><h2>All theorems available</h2>
                    <h3>(Make a selection on the left to filter.)</h3></div>
                {% endif %}
                <ul class="list-group">
                    {% for object in object_list %}
                    <li class="list-group-item">
                        <a href="{% url 'theorem-detail' object.id %}">{{ object.alias }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</div>
{% endblock %}
