{% extends 'ringapp/base.html' %}

{% block title %}Commutative ring property detail{% endblock %}

{% block body_block %}

<h1>Commutative ring property detail</h1>

{% if property_id %}
    <ul>
    Property name: {{ prop.name }}<br>
    Definition: {{ prop.definition }}<br>
    Rings with property: {{ hasnum }}<br>
    Rings without property: {{ lacksnum }}<br>
    </ul>
    
    <ul>
        <li><a href="{% url 'cresults' %}{{ has_url }}">View rings having this property</a></li>
        <li><a href="{% url 'cresults' %}{{ lacks_url }}">View rings not having this property</a></li>
    </ul>

{% if metaproperties %}

    <h2>Metaproperties</h2>
    {% if has_mp %}
    This property has the following metaproperties
    <ul>
    {% for item in has_mp %}
        <li>{{ item.description }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if lacks_mp %}
    This property does not have the following metaproperties
    <ul>
    {% for item in lacks_mp %}
        <li>{{ item.description }}</li>
    {% endfor %}
    </ul>
    {% endif %}

{% endif %}

{% else %}
    <p>Nothing was retrieved.</p>
{% endif %}

{% endblock %}