{% extends 'ringapp/base.html' %}

{% block title %}Property detail{% endblock %}

{% block body_block %}

<h1>Property detail</h1>

{% if property_id %}
    <ul>
        Property name: {{ prop.name }}<br>
        Definition: {{ prop.definition }}<br>
        Rings with property: {{ hasnum }}<br>
        Rings without property: {{ lacksnum }}<br>
    </ul>
    <ul>
        <li><a href="{% url 'results' %}{{ has_url }}">View rings having this property</a></li>
        <li><a href="{% url 'results' %}{{ lacks_url }}">View rings not having this property</a></li>
    </ul>


{% else %}
    <p>Nothing was retrieved.</p>
{% endif %}

{% endblock %}