{% extends 'ringapp/base.html' %}

{% block title %}Ring detail{% endblock %}

{% block body_block %}

<h1>Ring detail</h1>

{% if r %}
    <ul>
        <li>Name: {{ r.name }}</li>
        <li>Description: {{ r.description }}</li>
        <li>Notes: {{ r.notes }}</li>
        <li>Reference(s):
            {% if ref_list %}
            <ul>
            {% for ref in ref_list %}
            <li>{{ ref.title }}</li>
            {% endfor %}

            {% else %}
            <li>(Citation needed)</li>
            {% endif %}
            </ul>
        </li>
    </ul>
This ring has the following properties:
    <ul>
    {% for item in has_props %}
        <li><a href="{% url 'property-detail' item.property_id %}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
The ring lacks the following properties:
    <ul>
    {% for item in lacks_props %}
        <li><a href="{% url 'property-detail' item.property_id %}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
We don't know if the ring has or lacks the following properties:
    <ul>
    {% for item in other_props %}
        <li><a href="{% url 'property-detail' item.property_id %}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
    
{% else %}
    <p>Nothing was retrieved.</p>
{% endif %}

{% endblock %}
