{% extends 'base.html' %}

{% block title %}Ring detail{% endblock %}

{% block content %}
<div class="container">
	<h1>Ring detail</h1>
        <hr/ >
	<div class="row">
		<div class="col-md-8 content">
           {% if r %}
		    <h2>Name: {{ r.name }}</h2>
            {% if r.user %}<p><i>This ring suggested by: {{ r.user }}</i></p> {% endif %}
			<p>Description: {{ r.description|safe }}</p>
			<p>Notes: {{ r.notes }}</p>
                        {% if tags %}
                        <p>Keywords
                          {% for tag in tags %}
                            <a href="{% url 'keyword-detail' tag.id %}"><span class="label label-default">{{ tag.name }}</span></a>
                          {% endfor %}<span class="glyphicon glyphicon-info-sign showPopover" style="cursor:pointer;"
                            data-content="Keyword labels are links to more information!" data-original-title="Info"
                            ></span></p>

                        {% endif %}
                </div>
                <div class="col-md-4 content">
			<p>Reference(s):
			    {% if ref_list %}
			    <ul>
			    {% for ref in ref_list %}
			    <li>{{ ref.title }}</li>
			    {% endfor %}

			    {% else %}
			    <li>(Citation needed)</li>
			    {% endif %}
			    </ul>
			</p>

                 </div>

          <hr />
        </div>
        <hr />
        <div class="row">
          <div class="col-md-4 content">
            <div class="panel panel-default">
              <div class="panel-heading">This ring has the following properties:</div>
                            <div class="list-group">
	        {% for item in has_props %}
	        <a class="list-group-item" href="{% url 'property-detail' item.property_id %}">{{ item.name }}</a>
		{% endfor %}
	      </div>
            </div>
          </div>
          <div class="col-md-4 content">
            <div class="panel panel-default">
              <div class="panel-heading">The ring lacks the following properties:</div>
              <div class="list-group">
	        {% for item in lacks_props %}
	        <a class="list-group-item" href="{% url 'property-detail' item.property_id %}">{{ item.name }}</a>
		{% endfor %}
	      </div>
            </div>
          </div>
          <div class="col-md-4 content">
            <div class="panel panel-default">
              <div class="panel-heading">We don't know if the ring has or lacks the following properties:</div>
              <div class="list-group">
	        {% for item in other_props %}
	        <a class="list-group-item" href="{% url 'property-detail' item.property_id %}">{{ item.name }}</a>
		{% endfor %}
	      </div>
            </div>
	  </div>
	{% else %}
	    <p>Nothing was retrieved.</p>
	{% endif %}
     </div>
</div>
{% endblock %}
