{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
<h1>Guides</h1>
<h2>How to add a ring</h2>
    <ul>
        <li>Do a quick background check: <a href="{% url 'search' %}">run a wide scope search</a> for rings with
        the properties of the ring you want to add. If you don't notice anything that looks like your ring, proceeed
        to the next steps.</li>
        <li>Make a record for your ring
            <ul>
                <li>On the admin home page, click the "add" option in the row for Ring (or Commutative ring, if
                    applicable. A commutative ring can be created in either place.)</li>
                <li>Fill in as much information for the ring as you can (use the keyword selector and ignore kwd.)</li>
                <li>Hopefully you had some key properties of the ring in mind. You ought to add
                    properties to the ring via the following steps.</li>
                <li>The bottom of the form has a few rows to associate properties with the ring.
                    <ul>
                        <li>Select a property you are interested in from the drop-down in the row.</li>
                        <li>In "has property," put a 1 if the ring HAS the property, and a 0 if it does NOT have the property.</li>
                        <li>Use the "reason" field if the reason is something very straightforward. Use the "source"
                            field to include a citation if you can. Please use at least one of these fields!</li>
                    </ul>
                </li>
                <li>Hit "save." Your ring is now in the database, and is associated with the properties you entered.</li>

            </ul>
        </li>
        <li>On the admin home page, click the "processor" link. Select your ring from the dropdown, then hit "process."
        The processor will draw all conclusions that it possibly can with current data. Running the processor twice in
            a row will not add anything, but if you manually add new properties to the ring, then processing again may
            add new entries.</li>
        <li>You will probably get a "success" message, but if instead you get an error message, get in contact with me.</li>
        <li>Tips:
            <ul>
                <li>If the form demands content in one of the text fields, you can skirt it by submitting whitespace.</li>
                <li>Remember that you don't have to supply all properties you know about the ring, just "the best" ones.</li>
            </ul>
        </li>
    </ul>

<h2>How to modify properties on an existing ring</h2>
    <ul>
        <li>Click the "change" link in the Ring row (or Commutative ring row, if you want to modify its commutative
            properties.)</li>
        <li>The form for the ring will appear, and at the bottom will be the currently associated properties, along with
        a few empty rows for you to add items. You can remove currently existing items (if you have permissions to do
        so.</li>
        <li>Once done modifying the associations, you hit the save button.</li>
    </ul>

<h2>How to add a citation</h2>
    <ul>
        <li>Click the "add" link in the Citations row on the admin homepage. (In the Theorem adder, you can also click
        the square next to the citation dropdown field to reach this form. It will soon be the same for the ring adder.)</li>
        <li>Select the publication from the dropdown, or if your publication is not in the dropdown already, use
            the square next to the dropdown as a shortcut to the publication adder.</li>
        <li>Include the page number and other descriptors as appropriate into the location field. (For example "Theorem 10.9")</li>
        <li>Hit save, and your citation will now be in the database.</li>


    </ul>
<h2>How to add a publication</h2>
    <ul>
        <li>Click the "add" link in the Citations row on the admin homepage. (You may also have gotten here from the square
        next to the publication dropdown in the citation adder.)</li>
        <li>Enter the publication title, author(s) and date, using January 1 as a default, if necessary.</li>
        <li>Anything else about the publication (like edition, volume, publisher) goes into the details field.</li>
        <li>Click "save" and the publication will now appear in the database.</li>
    </ul>
</div>
{% endblock %}
