{% extends 'base.html' %}
{% load queryargs %}

{% block title %}Module Property {{ object.id }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 content">
            <div class="panel panel-default">
              <div class="panel-heading"><h1>Property: {{ object.name }}</h1></div>
              <div class="panel-body">

                {% if object %}
                    <p>Definition: {{ object.definition }}</p>
              </div>
            </div>
        </div>
        <div class="col-md-6 content">
            <h3>Reference(s):</h3>
        {% if object.citation.all %}

            <ul>
                {% for citation in object.citation.all %}
                <li>{{ citation }}</li>
                {% endfor%}
            </ul>
        {% else %}
                <p>(No citations retrieved.)</p>
        {% endif %}
            <h3>Metaproperties:</h3>
        {% if metaproperties %}

            {% if has_mp %}
            This property has the following metaproperties
            <ul>
            {% for item in has_mp %}
            <li>{{ item.metaproperty.name }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            {% if lacks_mp %}
          This property <b>does not</b> have the following metaproperties
            <ul>
            {% for item in lacks_mp %}
            <li>{{ item.metaproperty.name }}
            {% if item.example is not None %}
                (Counterexample: <a href="{% url 'module-detail' item.example.id %}">$R_{ {{ item.example.id }} }$</a>)
            {% elif item.relation is not None %}
                (Counterexample: <a href="{% url 'module-detail' item.relation.first_id %}">$M_{ {{ item.relation.first_id }} }$</a> {{ item.relation.get_relation_type_display }} <a href="{% url 'module-detail' item.relation.second_id %}">$M_{ {{item.relation.second_id}} }$</a>)
            {% else %}
                (counterexample needed)
            {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% else %}
            <p>(No metaproperty information retrieved.)</p>
        {% endif %}


        </div>
    </div>
    <div class="col-md-4 content">
        <div class="panel panel-default">
            <div class="panel-heading">Modules</div>
            <table class="table table-bordered">
                <tr>
                    {% if sorttype == 's' %}
                    <th></th>
                    <th>Name <a href="{% url 'module-property-detail' object.id %}?{{ request|update_symmfilter:'n' }}"><i class="glyphicon glyphicon-triangle-bottom"></i></a></th>
                    {% else %}
                    <th><a href="{% url 'module-property-detail' object.id %}?{{ request|update_symmfilter:'s' }}"><i class="glyphicon glyphicon-triangle-bottom"></i></a></th>
                    <th>Name</th>
                    {% endif %}
                </tr>
                {% for item in mod_join %}
                <tr>
                    <td>
                        {% if item.1 == True %}
                        <i class="glyphicon glyphicon-ok"></i>
                        {% elif item.1 == False %}
                        <i class="glyphicon glyphicon-remove"></i>
                        {% elif item.1 == None %}
                        <i class="glyphicon glyphicon-question-sign"></i>
                        {% endif %}</td>
                    <td><a class="list-group-item" href="{% url 'module-detail' item.0.id %}">{{ item.0.name }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}





