from ringapp.settings import *

print('*************************')
print('Importing local settings!')
print('*************************')

DEBUG = True
SECURE_SSL_REDIRECT = False
DISABLE_ENGINE = False

WEB_SQLITE_PATH = os.path.join(BASE_DIR, 'db', 'web.db')

DATABASES['default'] = {
    'ENGINE': 'django.db.backends.sqlite3',
    'NAME': WEB_SQLITE_PATH
}
DATABASES['test'] = DATABASES['default'].copy()
DATABASES['test']['NAME'] = 'test_ringapp'

#INSTALLED_APPS.append('django_extensions')